<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% include mathjax.html %}
{% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
    <div class="pagecontent">
      <div class="header">
          <div class="header-content">
              <a href="https://www.opendatagroup.com" style="border-width: 0px; border: 0px;">
                  <img src="{{ "/assets/images/odg_logo_new_header.png"  | relative_url }}"
                       style="width: 145.45px; border-width: 0px; border: 0px"
                       alt="Open Data Group" title="Open Data Group" sizes="(max-width: 600px) 100vw, 600px"
                       width="145.45">
              </a>

              <ul class="menu" style="float: right;">
                  <li><a href="https://www.opendatagroup.com/fastscore-engine">Product</a></li>
                  <li><a href="https://www.opendatagroup.com/solutions">Solutions</a></li>
                  <li><a href="https://www.opendatagroup.com/resources">Resources</a></li>
                  <li><a href="https://opendatagroup.github.io/">Documentation</a></li>
              </ul>

          </div>
      </div>
