{% include head.html %}
    <div class="blogimg">
        <a href="/blog"><h1 class="bannertitle">Data Science & Tech Blog</h1></a>
    </div>

        <!-- Markdown content -->
        <div class="container-lg px-3 my-5 markdown-body">

            <div class="bars">
                <div class="mainbar">
                    <h1>{{ page.title }}</h1>
                    <p><span class="author">{{ page.author }}</span> on <span class="date"> {{ page.date | date: "%a, %b %d, %Y" }} </span> </p>

                    {{ content }}
              </div>
              <div class="sidebar">
                  {% include sidebar.html %}
              </div>

            </div>
        </div>
        <!-- end markdown content -->

{% include foot.html %}
